<!-- Author: Alejandro Galue <agalue@opennms.org> -->

<div class="modal-content">

  <div class="modal-header">
    <h3 class="modal-title">Interface</h3>
  </div>

  <div class="modal-body">
    <form name="intfForm">
      <div class="form-group">
        <label class="control-label" for="ipAddress">IP Address</label>
        <input class="form-control" type="text" id="ipAddress" name="ipAddress" placeholder="IP Address" ng-model="intf.ipAddress" required></input>
      </div>
      <div class="form-group">
        <label class="control-label" for="descr">Description</label>
        <input class="form-control" type="text" id="descr" name="descr" placeholder="Description" ng-model="intf.description"></input>
      </div>
      <div class="form-group">
        <label class="control-label" for="snmpPrimary">SNMP Primary</label>
        <input class="form-control" type="text" id="snmpPrimary" name="snmpPrimary" ng-model="intf.snmpPrimary" ng-focus="onFocus($event)" empty-typeahead typeahead-editable="false" typeahead="a.id as a.title for a in snmpPrimaryFields | filter:$viewValue:fieldComparator" required></input>
      </div>
      <div class="form-group">
        <select ng-model="intf.services" ng-options="service.name for service in availableServices" multiple bs-duallistbox
              bootstrap2="{{ settings.bootstrap2 }}"

              move-on-select="{{ settings.moveOnSelect }}"
              preserve-selection="{{ settings.preserveSelection }}"

              move-selected-label="{{ settings.moveSelectedLabel }}"
              move-all-label="{{ settings.moveAllLabel }}"
              remove-selected-label="{{ settings.removeSelectedLabel }}"
              remove-all-label="{{ settings.removeAllLabel }}"

              non-selected-list-label="{{ settings.nonSelectedListLabel }}"
              selected-list-label="{{ settings.selectedListLabel }}"

              postfix="{{ settings.postfix }}"
              select-min-height="{{ settings.selectMinHeight }}"

              filter="{{ settings.filter }}"
              filter-values="{{ settings.filterValues }}"
              filter-non-selected="settings.filterNonSelected"
              filter-selected="settings.filterSelected"
              filter-placeholder="{{ settings.filterPlaceholder }}"
              filter-clear="{{ settings.filterClear }}"
              info-all="{{ settings.infoAll }}"
              info-filtered="{{ settings.infoFiltered }}"
              info-empty="{{ settings.infoEmpty }}"
        ></select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="addService()" ng-disabled="policyForm.clazz.$invalid">Add Service</button>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="intfForm.$invalid">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>

</div> <!-- modal-content -->
